.App {
  background-color: transparent;
  text-align: center;
  height: 100vh;
  max-width: 100%;
}

tspan {
  fill: #ffffff !important;
}

line {
  stroke: #ffffff !important;
}

path {
  stroke: #6d21ca !important;
  /* stroke-width: 1.5 !important; */
}